<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>DoraSoft Araştırma ve Danışmanlık</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/TemaAnket/assets/img/favicon.png" rel="icon">
    <link href="~/TemaAnket/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

 
    <!-- Vendor CSS Files -->
    <link href="~/TemaAnket/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/TemaAnket/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/TemaAnket/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/TemaAnket/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/TemaAnket/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/TemaAnket/assets/css/style.css" rel="stylesheet">
</head>