@model List<DataAccessLayer.Dtos.AdminDtos.PollListDto>

<div class="section-title">
    <h2>Tüm Anketlerimiz</h2>
    <p>Araştırma Yaptığımız Anketlerimize Göz Atabilirisiniz</p>
</div>

<section id="portfolio" class="portfolio">
    <div class="container">

 @await Component.InvokeAsync("PollCategory")
        <div class="row portfolio-container">
            @foreach (var item in Model)
            {
                
          
            <div class="col-lg-4 col-md-6 portfolio-item @item.PollCategoryName wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                            <img src="~/Img/@item.ImageUrl" class="img-fluid" alt="" width="430" height="150">
                       @*     <a href="~/Img/@item.ImageUrl" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>*@
                        <a href="/Home/PollReport/@item.PollReportId" class="link-details" title="Anket Raporu"><i class="bx bx-link"></i></a>
                    </figure>

                    <div class="portfolio-info">
                            <h4><a href="/Home/PollReport/@item.PollReportId">@item.Subject</a></h4>
                        <p>@item.PollCategoryName</p>
                    </div>
                </div>
            </div>

            }

        </div>

    </div>
</section><!-- End Portfolio Section -->